* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #FFFFFF;
  color: #434455;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
}

button {
  display: block;
  background-color: #4D5AE5;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #404BBF;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }
  }

  /* ======= HEADER STYLES ====== */

  .page_header {
    padding: 16px;
  }

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav_list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .mobile-menu-btn {
    background-color: transparent;
  }

  .mobile-menu-btn-icon {
    stroke: #2F2F37;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
  }

  .header_colored-text {
    color: #2E2F42;
  }

  @media screen and (min-width: 768px) {
    .logo {
      margin-right: 120px;
    }

    .nav {
      display: flex;
      align-items: center;
    }

    .nav_list {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .nav_link {
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.02em;
      padding: 36px 0;
      color: #2E2F42;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav_link:hover,
    .nav_link:focus {
      color: #404BBF;
    }

    .active {
      color: #404bbf;
    }

    .active::after {
      position: absolute;
      content: '';
      background: #404BBF;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom: -1px;
      left: 0;
    }

    .mobile-menu-btn {
      display: none;
    }

    .contacts {
      display: block;
    }

    .contacts_list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .contacts_link {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.04em;
      color: #434455;
    }
  }

  @media screen and (min-width: 1158px) {
    .contacts_list {
      flex-direction: row;
      gap: 40px;
    }
  }

  /* ======= /HEADER STYLES ===== */
  /* ======= HERO STYLES ======== */

  .hero {
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      image-set(url('../images/hero-image_mobile.jpg') 1x,
        url('../images/hero-image_mobile@2.jpg') 2x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 320px;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .hero-button {
    width: 169px;
    height: 56px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .hero {
      padding: 112px 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        image-set(url('../images/hero-image_tablet.jpg') 1x,
          url('../images/hero-image_tablet@2.jpg') 2x);
      max-width: 768px;
    }

    .hero-title {
      font-size: 56px;
      line-height: 60px;
      max-width: 496px;
      margin-bottom: 36px;
    }
  }

  @media screen and (min-width: 1158px) {
    .hero {
      padding: 188px 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        image-set(url('../images/hero-image_tablet.jpg') 1x,
          url('../images/hero-image_tablet@2.jpg') 2x);
      max-width: 1440px;
    }

    .hero-title {
      margin-bottom: 48px;
    }
  }

  /* ======= /HERO STYLES ======= */
  /* ====== FEATURE STYLES ====== */

  .feature_list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 16px;
    margin: 0 auto;
  }

  .feature_list_icon_wrapper {
    display: none;
  }

  .feature_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
  }

  .feature_description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  @media screen and (min-width: 768px) {
    .section_feature {
      padding-left: 16px;
      padding-right: 16px;
    }

    .feature_list {
      flex-direction: row;
      column-gap: 24px;
      row-gap: 72px;
      flex-wrap: wrap;
      padding: 0 16px;
    }

    .feature_list_item {
      width: calc((100% - 24px) / 2);
    }

    .feature_title {
      text-align: left;
    }
  }

  @media screen and (min-width: 768px) {
    .section_feature {
      padding-left: 16px;
      padding-right: 16px;
    }

    .feature_list_item {
      width: calc((100% - 72px) / 4);
    }

    .feature_list_icon_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      border: 1px solid #8E8F99;
      background-color: #F4F4FD;
      border-radius: 4px;
      padding: 24px 100px;
    }
  }

  /* ====== /FEATURE STYLES ===== */
  /* ======== TEAM STYLES ======= */

  .section_team {
    background-color: #F4F4FD;
    padding-left: 28px;
    padding-right: 28px;
  }

  .section_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
  }

  .team_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }

  .card_body {
    background-color: #FFFFFF;
    padding: 32px 16px;
    box-shadow: 0px 2px 1px 0px #2E2F4214,
      0px 1px 1px 0px #2E2F4229,
      0px 1px 6px 0px #2E2F4214;
    border-radius: 0px 0px 4px 4px;
  }

  .card_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
  }

  .card_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }

  .social_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .soclial_list_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .soclial_list_icon {
    stroke: #ffffff;
  }

  .soclial_list_link:hover,
  .soclial_list_link:active {
    background-color: #404BBF;
  }

  @media screen and (min-width: 768px) {
    .team_list {
      flex-direction: row;
      column-gap: 24px;
      row-gap: 64px;
      flex-wrap: wrap;
      padding: 0 108px;
    }
  }

  @media screen and (min-width: 768px) {
    .team_list {
      column-gap: 24px;
      row-gap: 0;
      flex-wrap: wrap;
      padding: 0;
    }

    .list_item {
      width: calc((100% - 72px) / 4);
    }
  }

  /* ======== /TEAM STYLES ====== */
  /* ===== PORTFOLIO STYLES ===== */

  .section_portfolio {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .portfolio_list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .portfolio_list-item {
    max-width: 288px;
  }

  .product_description {
    display: none;
  }

  .card_body-portfolio {
    padding: 32px 16px;
    border-width: 0px, 1px, 1px, 1px;
    border-style: solid;
    border-color: #E7E9FC;
  }

  .card_title-portfolio {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  }

  .card_description-portfolio {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    .section_portfolio {
      margin: 0 auto;
    }

    .portfolio_list {
      flex-direction: row;
      column-gap: 24px;
      row-gap: 72px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .portfolio_list-item {
      width: calc((100% - 24px) / 2);
    }
  }

  /* ===== /PORTFOLIO STYLES ==== */
  /* ====== FOOTER STYLES ======= */

  .footer {
    background-color: #2E2F42;
    padding: 96px 16px;
  }

  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  .footer_logo {
    display: block;
    text-align: center;
    margin-bottom: 16px;
  }

  .footer_colored-text {
    color: #F4F4FD;
  }

  .footer_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 288px;
  }

  .footer_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer_social_list {
    gap: 16px;
  }

  .footer_social_link:hover,
  .footer_social_link:active {
    background-color: #31D0AA;
  }

  .subscribe_input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    width: 288px;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  .form_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 165px;
    height: 40px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .footer_content {
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
      column-gap: 24px;
      row-gap: 72px;
      flex-wrap: wrap;
    }

    .subscribe_form {
      display: flex;
      gap: 24px;
    }

    .footer_title {
      text-align: left;
    }
  }

  @media screen and (min-width: 1158px) {
    .footer_logo {
      text-align: left;
    }

    .footer_description {
      max-width: 284px;
      margin-right: 120px;
    }

    .footer_item_social {
      margin-right: 80px;
    }

    .subscribe_input {
      width: 264px;
    }
  }

  /* ===== /FOOTER STYLES ======= */
  /* ====MOBILE MENU STYLES====== */

  .mobile_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile_overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 72px 16px;
  }

  .menu_close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid #2E2F42;
  }

  .mobile_menu_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
  }

  .mobile_menu_link {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile_menu_link:focus {
    color: #404BBF;
  }

  .footer_contacts_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  .footer_contacts_link {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer_contacts_link:focus {
    color: #4D5AE5;
  }

  @media screen and (min-width: 768px) {
    .mobile_overlay {
      display: none;
    }
  }

  /* ===/MOBILE MENU STYLES====== */
  /* ======= MODAL STYLES ======= */

  :root {
    --main-color: #404bbf;
    --main-fill: #F4F4FD;
  }

  .modal_overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal_overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    position: relative;
    width: 288px;
    height: 623px;
    margin: 0 auto;
    background-color: #FCFCFC;
    padding: 72px 16px;
    padding-bottom: 0;
    border-radius: 4px;
  }

  .modal_close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .modal_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
  }

  .modal_form {
    display: flex;
    flex-direction: column;
  }

  .modal_label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
  }

  .modal_input_wrapper {
    position: relative;
  }

  .modal_input {
    width: 256px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 8px 8px 38px;
  }

  .modal_input:focus {
    outline: none;
    border-color: #4D5AE5;
  }

  .modal_input_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal_input:focus+.modal_input_icon {
    fill: #4D5AE5;
  }

  .modal_text {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal_text:focus {
    outline: none;
    border-color: #4D5AE5;
  }

  .modal_label_checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .modal_checkbox_link {
    display: block;
    line-height: 16px;
  }

  .modal_checkbox_link {
    color: #4D5AE5;
    text-decoration: underline;
    cursor: pointer;
  }

  .modal_checkbox_wrapper {
    margin-bottom: 16px;
  }

  .modal_checkbox_custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal_input_checkbox:checked+.modal_label_checkbox>.modal_checkbox_custom {
    background-color: var(--main-color);
    border: none;
    fill: var(--main-fill);
  }

  .submit_form {
    width: 169px;
    height: 56px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 408px;
      height: 584px;
      margin: 0 auto;
    }

    .modal_input {
      width: 100%;
    }
  }

  /* ====== /MODAL STYLES ======= */